/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Varela Round', sans-serif;
    scroll-behavior: smooth;
    font-size: 12px;
    color: #FFFFFF;
}

/* ------------------------------------------------------------------------------------------ */

/* PRESETS VARI */

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-grow: 1;
    background: #141922;
}

footer {
    height: 50px;
    display: flex;
    background: #282828;
}

a {
    display: block;
    text-decoration: none;
    color: white;
}

/* ------------------------------------------------------------------------------------------ */

/* MAIN */

.sidebar {
    width: 180px;
    height: calc(100vh - 50px);
    display: flex;
    flex-shrink: 0;
    background: black;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main__header {
    height: 50px;
    background: #090B12;
}

.row {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed red;
}

.categories {
    list-style: none;
    display: flex;
    gap: 30px;
}

.categories li a {
    text-transform: uppercase;
    color: #7A7C80;
}

.jumbo__container {
    height: calc(100vh - 125px);
}

.row.title {
    justify-content: flex-start;
    padding: 20px;
    font-size: 15px;
}

.row.title:first-child {
    margin: 20px 0;
}

.playlist__container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 2px dashed blue;
}

.card__container {
    width: 180px;
    height: 280px;
}

.card-img {
    width: 180px;
    height: 180px;
    border: 2px dashed yellow;
}

.card-info {
    width: 180px;
    height: 60px;
    border: 2px dashed yellow;
}
