/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Varela Round', sans-serif;
    scroll-behavior: smooth;
    font-size: 12px;
    color: #FFFFFF;
}

/* ------------------------------------------------------------------------------------------ */

/* PRESETS VARI */

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-grow: 1;
    background: #141922;
}

footer {
    height: 50px;
    display: flex;
    background: #282828;
}

a {
    display: block;
    text-decoration: none;
    color: white;
}

/* ------------------------------------------------------------------------------------------ */

aside {
    width: 180px;
    display: flex;
    flex-shrink: 0;
    background: black;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.header-fixed {
    height: 50px;
    border: 2px dashed yellow;
    background: #090B12;
}

.category {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed deeppink;
}

.category-list {
    list-style: none;
    display: flex;
    gap: 30px;
}

.category-list li a {
    text-transform: uppercase;
    color: #7A7C80;
}
